body{
    background-color: white;
    color:#0c0b0c;
    
    font-family: 'Poppins', sans-serif;
}

img{
    width: 90px;
}

.wrapper{
    display: flex;
    flex-direction: column;

    justify-content: center;

   }

.wrapper__titles {
    display: flex;
    justify-content: center;
}

.wrapper__titles h2{
    font-size: 2rem;
}

.wrapper__titles h4{
    font-size: 0.9rem;
}

.wrapper__products{
    height: 38vh;
    display:flex;
    overflow-y: hidden;
    margin: 0 40px;
}

.second__wrapper__products{
    height: 38vh;
    display:flex;
    overflow-y: hidden;
    margin: 0 40px;
}

.third__wrapper__products{
    height: 38vh;
    display:flex;
    overflow-y: hidden;
    margin: 0 40px;
}

.product{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 7.5px;
    padding: 10px;

    min-width: 150px;
    
    border: 2px solid #0c0b0c;
    border-radius: 12px;


    color: #0c0b0c;

    opacity: 0.9;
    cursor: pointer;
    transition: all 0.35s;
}

.product:hover{
    transform: scale(1.1);
}

.product:active{
    opacity: 1;
}


.product h4{
    margin: 10px 0 0;
    padding: 0;

    font-weight: 400;
    font-size: regular;
    
}

.product p{
    align-self: flex-start;
    font-weight: 600;
    font-size: semi-bold;
}


/*
.addBtn{
    width: 100px;
}
*/
